{% extends 'base.html' %}

{% block title %}Lista de Alunos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Lista de Alunos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.data_nascimento|date:"d/m/Y" }}</td>
                <td>{{ aluno.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}